[Desktop Entry]
Encoding=UTF-8
Name=Link to An Overview of Knowledge Discovery Database and Data mining Techniques | Open Access Journals
Type=Link
URL=https://www.rroij.com/open-access/an-overview-of-knowledge-discovery-databaseand-data-mining-techniques.php?aid=48833
Icon=text-html
